.displayWord {
  padding: 20px;
  display: block;
  margin: 15px 0;
  border: 1px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
}
.pronounceButton {
  padding: 5px 15px;
  margin: 10px;
  border: 1px;
  border-radius: 15px;
  color: #9670f4;
  font-size: 15px;
  text-align: center;
  transition: all 150ms ease-in-out;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.pronounceButton:hover {
  background-color: #9670f4;
  color: white;
}
.pronounceText {
  font-weight: 900;
  opacity: 0.6;
}


